<div class="row">
  <div class="col-lg-2 col-md-2 hidden-sm hidden-xs" ng-include="'side_menu/left.html'"></div>

  <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
    <div class="panel panel-default" ng-show="logged_in && !post_succeeded">
      <div class="panel-heading">
        Add a new photo
      </div>
      <div class="panel-body">
        <div class="form-group" ng-show="!upload_succeeded">
          <p id="status">Please select a file</p>
          <input class="from-control" type="file" id="files" onchange="angular.element(this).scope().uploadPhoto()" />
        </div>
        <form role="form" method="POST" action="">
          <div class="input-group">
              <input class="form-control" type="text" id="description" placeholder="Say something about the photo..." ng-disabled="!upload_succeeded"/>
              <span class="input-group-btn">
                <input type="submit" class="btn btn-default" value="Send post" ng-click="savePhoto()" ng-disabled="!upload_succeeded || post_cliecked"/>
              </span>
          </div>
          <div class="form-group">
            <input class="form-control" type="hidden" id="photo_url" name="photo_url" value="https://prandius.s3.amazonaws.com/post_placeholder.png" ng-model="photo_url" />
          </div>
          <p />
          <div class="form-group" ng-show="upload_succeeded">
            <div style="border:1px solid gray;" id="preview">
              <img src="https://prandius.s3.amazonaws.com/post_placeholder.png" style="width:470px;" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default" ng-show="logged_in && post_succeeded">
      <div class="panel-heading">
        Your photo has been posted
      </div>
      <div class="panel-body">
        <div class="modal fade" id="modal_edit{{post.post_id}}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <img ng-src="{{post.photo_url_map}}" style="height: 50px;" alt="posted photo small"/>
                <strong>Edit Post</strong>
              </div>
              <div class="modal-body">
                <form role="form">
                  <div class="form-group">
                    <label>Descriprion</label>
                    <input type="text" class="form-control" ng-model="post.description" placeholder="Description">
                  </div>
                   <div class="form-group">
                    <label>Location</label>
                    <input type="text" class="form-control" ng-model="post.address_raw" placeholder="Location (E.g. London, Amsterdam, Paris)">
                  </div>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="clickSave(post)">Save changes</button>
              </div>
            </div>
          </div>
          <!-- end: modal_edit -->
        </div>
        <div class="modal fade" id="modal_delete{{post.post_id}}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <img ng-src="{{post.photo_url_map}}" style="height: 50px;" alt="posted photo small"/>
                <strong>Delete Post</strong>
              </div>
              <div class="modal-body">
                Are you sure you want to delete post?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="clickDelete(post.post_id)">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
          <!-- end: modal_delete -->
        </div>

        <img ng-src="{{post.photo_url}}" style="height: 200px;" alt="posted photo"/>
        <button class="btn" data-toggle="modal" data-target="#modal_edit{{post.post_id}}">
          <i class="glyphicon glyphicon-pencil"></i> Edit
        </button> 
        <button class="btn" data-toggle="modal" data-target="#modal_delete{{post.post_id}}">
          <i class="glyphicon glyphicon-remove-sign"></i> Delete
        </button>
        <!-- fb-->
        <!-- 
        <p>
        <div class="fb-like" data-href="http://www.prandius.net{{post.permalink_fb}}" data-layout="standard" data-action="like"
            data-show-faces="false" data-share="true"></div>
        -->
        <p>
        <div class="fb-comments" data-href="http://www.prandius.net{{post.permalink_fb}}" data-numposts="5" data-colorscheme="light"></div>

        <!-- end: panel body -->
      </div>
    </div>
    <div class="panel panel-default" ng-show="!logged_in">
      <div class="panel-heading">
        Add a new photo
      </div>
      <div class="panel-body">
        You have to log in first.
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Posting
      </div>
      <div class="panel-body">
        Want to post a photo?
        Great!
        <p>
        You are awesome!
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Facebook sharing
      </div>
      <div class="panel-body">
        We are working hard on creating for you the ability to share your food moment on facebook.
        <p>
        Then you can share your moment with all your friends.
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Some advice
      </div>
      <div class="panel-body">
        Take the picture about your plate. You can be on the picture if you like, but that's not necessary.
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
</script>

