<div class="row">
  <div class="col-lg-2 col-md-2 hidden-sm hidden-xs" ng-include="'side_menu/left.html'"></div>

  <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
    <div class="panel panel-default" ng-show="logged_in && !post_succeeded">
      <div class="panel-heading">
        Add a new photo
      </div>
      <div class="panel-body">
        <div class="form-group" ng-show="!upload_succeeded">
          <p id="status">Please select a file</p>
          <input class="from-control" type="file" id="files" onchange="angular.element(this).scope().uploadPhoto()" />
        </div>
        <form role="form" method="POST" action="">
          <div class="input-group">
              <input class="form-control" type="text" id="description" placeholder="Say something about the photo..." ng-disabled="!upload_succeeded"/>
              <span class="input-group-btn">
                <input type="submit" class="btn btn-default" value="Send post" ng-click="savePhoto()" ng-disabled="!upload_succeeded || post_cliecked"/>
              </span>
          </div>
          <div class="form-group">
            <input class="form-control" type="hidden" id="photo_url" name="photo_url" value="https://prandius.s3.amazonaws.com/post_placeholder.png" ng-model="photo_url" />
          </div>
          <p />
          <div class="form-group" ng-show="upload_succeeded">
            <div style="border:1px solid gray;" id="preview">
              <img src="https://prandius.s3.amazonaws.com/post_placeholder.png" style="width:470px;" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default" ng-show="logged_in && post_succeeded">
      <div class="panel-heading">
        Your photo has been posted
      </div>
      <div class="panel-body">
        <div class="input-group">
          Thank you for posting (soon, you will be able to refine your post on this page)
        </div>
      </div>
    </div>
    <div class="panel panel-default" ng-show="!logged_in">
      <div class="panel-heading">
        Add a new photo
      </div>
      <div class="panel-body">
        You have to log in first.
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Posting
      </div>
      <div class="panel-body">
        Want to post a photo?
        Great!
        <p>
        You are awesome!
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Facebook sharing
      </div>
      <div class="panel-body">
        We are working hard on creating for you the ability to share your food moment on facebook.
        <p>
        Then you can share your moment with all your friends.
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Some advice
      </div>
      <div class="panel-body">
        Take the picture about your plate. You can be on the picture if you like, but that's not necessary.
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
</script>

