<div class="row">
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        My profile
      </div>
      <div class="panel-body">
        Welcome, {{ name }}!
      </div>
    <!-- end: panel -->
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Friends
      </div>
      <div class="panel-body">
        TODO
      </div>
    <!-- end: panel -->
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Maps
      </div>
      <div class="panel-body">
        TODO
      </div>
    <!-- end: panel -->
    </div>
  <!-- end: col-md-2 -->
  </div>

  <div class="col-md-8">
    <div class="panel panel-default" ng-show="logged_in && !post_succeeded">
      <div class="panel-heading">
        Add a new photo
      </div>
      <div class="panel-body">
        <div class="form-group">
          <p id="status">Please select a file</p>
          <input class="from-control" type="file" id="files"/>
        </div>
        <form role="form" method="POST" action="">
          <div class="input-group">
            <input class="form-control" type="text" id="description" placeholder="Say something about the photo..."/>
            <span class="input-group-btn">
              <input type="submit" class="btn btn-default" value="Send post" ng-click="savePhoto()"/>
            </span>
          </div>
          <div class="input-group">
            <input class="form-control" type="hidden" id="photo_url" name="photo_url" value="https://s3-eu-west-1.amazonaws.com/prandius/post_placeholder.png" ng-model="photo_url"/>
          </div>
          <p />
          <div class="input-group">
            Preview photo
            <div style="border:1px solid gray;"  id="preview"><img src="https://s3-eu-west-1.amazonaws.com/prandius/post_placeholder.png" style="width:470px;" /></div>
          </div>
        </form>
      </div>
    <!-- end: panel -->
    </div>
    <div class="panel panel-default" ng-show="logged_in && post_succeeded">
      <div class="panel-heading">
        Your photo has been posted
      </div>
      <div class="panel-body">
        <div class="input-group">
          Thank you for posting (soon, you will be able to refine your post on this page)
        </div>
      </div>
    <!-- end: panel -->
    </div>
    <div class="panel panel-default" ng-show="!logged_in">
      <div class="panel-heading">
        Add a new photo
      </div>
      <div class="panel-body">
        You have to log in first.
      </div>
    <!-- end: panel -->
    </div>
  <!-- end: col-md-8 -->
  </div>

  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        Posting
      </div>
      <div class="panel-body">
        Want to post a photo?
        Great!
        <p>
        You are awesome!
      </div>
    <!-- end: panel -->
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Facebook sharing
      </div>
      <div class="panel-body">
        We are working hard on creating for you the ability to share your food moment on facebook.
        <p>
        Then you can share your moment with all your friends.
      </div>
    <!-- end: panel -->
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Some advice
      </div>
      <div class="panel-body">
        Take the picture about your plate. You can be on the picture if you like, but that's not necessary.
      </div>
    <!-- end: panel -->
    </div>
  <!-- end: col-md-2 -->
  </div>
</div>

<script type="text/javascript">
function s3_upload(){
    var status_elem = document.getElementById("status");
    var url_elem = document.getElementById("photo_url");
    var preview_elem = document.getElementById("preview");
    var s3upload = new S3Upload({
        file_dom_selector: 'files',
        s3_sign_put_url: '/sign_s3/',
        onProgress: function(percent, message) {
            status_elem.innerHTML = 'Upload progress: ' + percent + '% ' + message;
        },
        onFinishS3Put: function(url) {
            status_elem.innerHTML = 'Upload completed. Uploaded to: '+ url;
            url_elem.value = url;
            preview_elem.innerHTML = '<img src="'+url+'" style="width:300px;" />';
        },
        onError: function(status) {
            status_elem.innerHTML = 'Upload error: ' + status;
        }
    });
}
(function() {
    var input_element = document.getElementById("files");
    input_element.onchange = s3_upload;
})();
</script>

